<div class="row mt-4">
  <div class="col-md-6 d-none d-md-block" style="height: 450px">
    <div class="text-center col-md-12 my-auto side-header">
      <h1>Cadastro de Usuário</h1>
      <img
        src="../../../../assets/registerImage.png"
        class="my-4"
        alt=""
        width="400px"
      />
    </div>
  </div>
  <div class="col-md-6">
    <form [formGroup]="form" class="p-1">
      <div class="pb-2 d-block d-md-none">
        <h3 class="border-bottom">Cadastro de Usuário</h3>
      </div>
      <div class="form-row me-auto">
        <div class="form-group col-sm-6">
          <label>Primeiro Nome</label>
          <input
            type="text"
            class="form-control is-invalid"
            formControlName="primeiroNome"
            [ngClass]="{
              'is-invalid': f.primeiroNome.errors && f.primeiroNome.touched
            }"
            placeholder="Insira o Primeiro nome"
          />
          <div *ngIf="f.primeiroNome.errors?.required" class="invalid-feedback">
            Primeiro nome é obrigatório.
          </div>
          <div
            *ngIf="f.primeiroNome.errors?.minlength"
            class="invalid-feedback"
          >
            Primeiro nome deve conter pelo menos 3 caracteres!
          </div>
          <div
            *ngIf="f.primeiroNome.errors?.maxlength"
            class="invalid-feedback"
          >
            Primeiro nome deve conter no máximo 50 caracteres!
          </div>
        </div>

        <div class="mb-3 col-sm-6">
          <label>Último nome</label>
          <input
            type="text"
            class="form-control"
            formControlName="ultimoNome"
            [ngClass]="{
              'is-invalid': f.ultimoNome.errors && f.ultimoNome.touched
            }"
            placeholder="Insira o Último nome"
          />
          <div *ngIf="f.ultimoNome.errors?.required" class="invalid-feedback">
            Ultimo nome é obrigatório!
          </div>
          <div *ngIf="f.ultimoNome.errors?.minlength" class="invalid-feedback">
            Ultimo nome deve conter pelo menos 3 caracteres!
          </div>
          <div *ngIf="f.ultimoNome.errors?.maxlength" class="invalid-feedback">
            Ultimo nome deve conter no máximo 50 caracteres!
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="">Email:</label>
        <input
          class="form-control"
          type="text"
          formControlName="email"
          [ngClass]="{ 'is-invalid': f.email.errors && f.email.touched }"
          placeholder="Insira o Nome Completo"
        />
        <div *ngIf="f.email.errors?.required" class="invalid-feedback">
          E-mail é obrigatório!
        </div>
        <div *ngIf="f.email.errors?.email" class="invalid-feedback">
          E-mail inválido!
        </div>
      </div>
      <div class="mb-3">
        <label for="">Usuario:</label>
        <input
          class="form-control"
          type="text"
          formControlName="usuario"
          [ngClass]="{ 'is-invalid': f.usuario.errors && f.usuario.touched }"
          placeholder="Insira o nome de Usuário"
        />
        <div *ngIf="f.usuario.errors?.required" class="invalid-feedback">
          Usuario é obrigatório!
        </div>
        <div *ngIf="f.usuario.errors?.minlength" class="invalid-feedback">
          Usuario deve conter pelo menos 4 caracteres!
        </div>
        <div *ngIf="f.usuario.errors?.maxlength" class="invalid-feedback">
          Usuario deve conter no máximo 20 caracteres!
        </div>
      </div>
      <div class="form-row">
        <div class="mb-3 col-sm-6">
          <label for="">Senha:</label>
          <input
            class="form-control"
            type="password"
            formControlName="senha"
            [ngClass]="{ 'is-invalid': f.senha.errors && f.senha.touched }"
            placeholder="Digite uma Senha"
          />
          <div *ngIf="f.senha.errors?.required" class="invalid-feedback">
            Senha é obrigatário!
          </div>
          <div *ngIf="f.senha.errors?.minlength" class="invalid-feedback">
            Senha deve conter pelo menos 10 caracteres!
          </div>
          <div *ngIf="f.senha.errors?.maxlength" class="invalid-feedback">
            Senha deve conter no máximo 30 caracteres!
          </div>
        </div>
        <div class="mb-3 col-sm-6">
          <label for="">Confirmar Senha:</label>
          <input
            class="form-control"
            type="password"
            formControlName="senhaConfirmar"
            [ngClass]="{
              'is-invalid':
                f.senhaConfirmar.errors &&
                f.senhaConfirmar.touched &&
                f.senhaConfirmar.value != f.senha.value
            }"
            placeholder="Confirme a Senha"
          />
          <div
            *ngIf="f.senhaConfirmar.errors?.required"
            class="invalid-feedback"
          >
            Senha é obrigatório!
          </div>
          <div
            *ngIf="f.senhaConfirmar.errors?.minlength"
            class="invalid-feedback"
          >
            Senha deve conter pelo menos 10 caracteres!
          </div>
          <div
            *ngIf="f.senhaConfirmar.errors?.maxlength"
            class="invalid-feedback"
          >
            Senha deve conter no máximo 30 caracteres!
          </div>
          <div
            *ngIf="f.senhaConfirmar.value !== f.senha.value"
            class="invalid-feedback"
          >
            Senhas devem ser iguais, favor verificar!
          </div>
        </div>
      </div>
      <div class="form-row p-1 mb-3">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="customCheck1" />
          <label class="control-label"
            >Eu concordo com os <a href="#">Termos de Uso</a>.</label
          >
        </div>
      </div>
      <div class="form-row d-grid gap-2">
        <div class="d-grid gap-2">
          <button class="btn btn-lg btn-success" type="button">Registar</button>
        </div>
      </div>
      <div class="form-row d-grid gap-2">
        <div class="d-grid gap-2">
          <a class="btn btn-link" type="button" routerLink="/user/login">
            Já sou Cadastrado
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
